@model SchoolManagementRepository.Student

@{
    Layout = "~/Views/Shared/_SharedLayout.cshtml";
}
@section title{
    <title>Delete</title>
}
@section css{

}
    <table align="center">
        <tr>
            <td align="center">
                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Username)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Username)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DOB)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ClassNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ClassNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Roll)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Roll)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Gender)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Religion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Religion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FatherName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FatherName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FatherOccupation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FatherOccupation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MotherName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MotherName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MotherOccupation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MotherOccupation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GurdianPhoneNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GurdianPhoneNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AdmissionDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AdmissionDate)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" style="color:white; background-color:red;" value="Delete" class="btn btn-default" /> |
                            <button type="button" class="btn btn-primary">   @Html.ActionLink("Back to List", "Index", null, new { @style = "color:white;" })</button>
                        </div>
                    }
                </div>
                <br />
                <br />
            </td>
        </tr>
    </table>
    